.background{
    height:100vh;
    background-color: #63686E;
}
.contenedor{
    color:white;
    font-family: "Sen", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.proximamente{
   display: flex;
   height: 100%;
   align-items: center
}