.background {
  padding: 20px 10rem;
  height: 100vh;
  background-color: #232324;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.head {
  padding: 1rem;
  font-family: "Sen", sans-serif;
  flex-direction: column;
  color: white;
}
