.background{
    color: white;
    font-family: "Sen", sans-serif;
    padding: 20px 10rem;
    height:100vh;
    background-color:   #232324;;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.title{
    padding: 1rem;
}
.codetext{
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 4rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    transition:  0.5s ease-in-out;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
  
    @keyframes slide-in-left {
      0% {
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
