.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 10rem;
    font-family: "Sen", sans-serif;
    background-color: #373640;
  }
  .contTextofoot {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
  }
  .footer ul {
    list-style: none;
  }
  .footer p {
    color: #c8c8c8;
  }
  .footer ul li a {
    color: #ececec;
    text-decoration: none;
  }
  .footer ul li a:hover {
    text-decoration: white underline;
  }